{
	"plugins": [
		"@babel/plugin-transform-runtime",
		["transform-react-remove-prop-types", {
			"removeImport": true
		}]
	],
	"presets": [
		[
			"@babel/preset-env",
			{
				"corejs": 3,
				"useBuiltIns": "entry",
				"targets": {
					"ie": "11",
					"firefox": "60"
				}
			}
		],
		"@babel/preset-react"
	]
}
