$orejime-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 5px 5px 10px 0 rgba(0, 0, 0, 0.19) !default;

$orejime-breakpoint-notice: 990px !default;

// micro css reset for everything orejime related
[class^="orejime-"] {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: var(--orejime-space-1);
    font-family: var(--orejime-font-family);
    font-size: inherit;
    color: inherit;
    vertical-align: baseline;
    cursor: default;
    float: none;
    width: auto;
    text-align: left;
    font-weight: normal;
}

.orejime-Env {
    --orejime-space-1: 1.4em;
    --orejime-space-2: calc(2 * var(--orejime-space-1));
    --orejime-space-05: calc(var(--orejime-space-1) / 2);
    --orejime-space-025: calc(var(--orejime-space-1) / 4);
    --orejime-font-size-small: 0.8rem;
    --orejime-font-family: sans-serif;
    --orejime-gap: 1ch;
    --orejime-radius: calc(var(--orejime-space-1) / 4);
    --orejime-overlay-background: rgba(0,0,0,0.5);
    --orejime-background: #fff;
    --orejime-color: #222;
    --orejime-color-subdued: #555;
    --orejime-color-interactive: #d6084f;
    --orejime-banner-max-width: 45ch;
    --orejime-modal-max-width: 75ch;

    p {
        margin: 0;
    }

    a {
        color: var(--orejime-color-interactive);
        text-decoration: underline;
        cursor: pointer;
    }
}

.orejime-Button {
    box-shadow: inset 0 0 0 2px currentColor;
    margin: 0;
    border: 0;
    border-radius: var(--orejime-radius);
    padding: var(--orejime-space-025) var(--orejime-space-05);
    color: var(--orejime-color-interactive);
    background: transparent;
    font: inherit;
    cursor: pointer;

    &[disabled] {
        color: var(--orejime-color-subdued);
    }
}

.orejime-Button:not([disabled]):hover,
.orejime-Button:not([disabled]):focus {
    box-shadow: inset 0 0 0 2px currentColor, 0 0 0 1px currentColor;
}

.orejime-Banner {
    background: var(--orejime-background);
    color: var(--orejime-color);
    position: fixed;
    z-index: 1000;
    width: 100%;
    bottom: 0;

    @media (min-width: $orejime-breakpoint-notice) {
        box-shadow: $orejime-box-shadow;
        border-radius: var(--orejime-radius);
        bottom: var(--orejime-space-1);
        right: var(--orejime-space-1);
        max-width: var(--orejime-banner-max-width);
    }

    @media (max-width: $orejime-breakpoint-notice) {
        border: none;
        border-radius: 0;
    }
}

.orejime-Banner--forced {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: none;
}

.orejime-Banner[aria-hidden="true"] {
    display: none !important;
}

.orejime-Banner-body {
    padding: var(--orejime-space-1);
}

.orejime-Banner-logo {
    max-width: 10ch;
}

.orejime-Banner-title {
    margin-bottom: var(--orejime-space-05);
    font-weight: bold;
    font-size: 1em;
    line-height: var(--orejime-space-1);
}

.orejime-Banner-description {
    white-space: pre-line;
}

.orejime-Banner-purposes {
    font-style: italic;
}

.orejime-Banner-changes {
    margin-top: var(--orejime-space-05);
    font-weight: bold;
}

.orejime-Banner-actions {
    display: flex;
    flex-wrap: wrap;
    gap: var(--orejime-gap);
    margin-top: var(--orejime-space-1);
}

.orejime-Banner-actionItem {
    display: inline;
}

.orejime-Banner-learnMoreButton {
    display: inline-block;
}

.orejimeHtml-WithModalOpen {
    height: 100%;
}

.orejimeHtml-WithModalOpen body {
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.orejime-ModalOverlay,
.orejime-BannerOverlay {
    z-index: 1000;
    background: var(--orejime-overlay-background);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.orejime-ModalWrapper {
    z-index: 1001;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: var(--orejime-modal-max-width);
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

 .orejime-Modal {
    padding: var(--orejime-space-2);
    background: var(--orejime-background);
    color: var(--orejime-color);
    border-radius: var(--orejime-radius);
    box-shadow: $orejime-box-shadow;
}

.orejime-Modal-header {
    margin-bottom: calc(var(--orejime-space-1) + var(--orejime-space-05));
}

.orejime-Modal-title {
    display: block;
    margin: 0 0 var(--orejime-space-05) 0;
    font-size: 2em;
    font-weight: bold;
}

.orejime-Modal-closeButton {
    border: none;
    background: none;
    color: inherit;
    position: absolute;
    top: calc(-1 * var(--orejime-space-1));
    right: calc(-1 * var(--orejime-space-1));
}

.orejime-CloseIcon {
    stroke: currentColor;
    width: 1em;
}

.orejime-Modal-body {
    margin-bottom: var(--orejime-space-2);
}

.orejime-Modal-description {
    white-space: pre-line;
}

.orejime-Modal-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--orejime-gap);
}

.orejime-Modal-poweredByLink {
    display: inline-block;
    font-size: var(--orejime-font-size-small);
}

.orejime-PurposeToggles {
    display: flex;
    flex-wrap: wrap;
    gap: var(--orejime-gap);
    margin-bottom: var(--orejime-space-1);
}

.orejime-PurposeList {
    list-style: none;
}

.orejime-Purpose {
    margin-top: var(--orejime-space-05);
}

.orejime-Purpose .orejime-Purpose {
    padding-left: var(--orejime-space-2);
}

.orejime-Purpose-title {
    font-weight: bold;
    cursor: pointer;
}

.orejime-Purpose-description {
    padding-left: var(--orejime-space-2);
    color: var(--orejime-color-subdued);
    white-space: pre-line;
}

.orejime-Purpose-purposes {
    font-size: var(--orejime-font-size-small);
    color: var(--orejime-color-subdued);
}

.orejime-Purpose-attribute {
    font-size: var(--orejime-font-size-small);
    font-style: italic;
    color: var(--orejime-color-subdued);

    &:before {
        content: '- ';
    }

    &[title] {
        text-decoration: underline dotted;
    }
}

.orejime-Purpose-input {
    float: left;
    margin-right: var(--orejime-space-1);
    width: var(--orejime-space-1);
    height: var(--orejime-space-1);
    appearance: revert;
    background: revert;
    accent-color: var(--orejime-color-interactive);
}

.orejime-Purpose-input:disabled {
    accent-color: var(--orejime-color-subdued);
}
